<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Myapp" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <!-- Leaflet CSS (CDN) -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    />

     <!-- (2) Leaflet Routing Machine CSS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css"
    />


    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <% flash.each do |key, message| %>
      <p class="flash <%= key %>"><%= message %></p>
      <% end %>

      <nav class="main-nav">
        <% if user_signed_in? %>
          <%= link_to "ルート一覧", routes_path %>
          <%= link_to "自転車紹介ページへ", bikes_path %>
          <%= link_to "マイルート一覧", favorites_path %>
          <%= link_to "マイアカウントページ", edit_user_registration_path %>
          <%= link_to "お気に入りの1台を登録", new_bike_path %>
          <%= button_to "ログアウト", destroy_user_session_path, method: :delete, form: { class: "logout-form" } %>
          <span class="welcome-msg">ようこそ、<%= current_user.email %> さん！</span>
        <% else %>
         <%= link_to "ログイン", new_user_session_path %>
         <%= link_to "サインアップ", new_user_registration_path %>
       <% end %>
      </nav>
    </header>



    <%= yield %>
        <!-- Leaflet JS (CDN) -->
    <script
      src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    ></script>
    <!-- (4) Leaflet Routing Machine JS -->
    <script
      src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js">
    </script>


    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

   </body>
</html>
